{% extends "app/layout.html" %}
{% load widget_tweaks %}

{% block content %}

<form action="{% url 'app:newpoll'%}" method="post">
    {% csrf_token %}
        <label for="casetext">Title:</label>
        {% render_field form.text class="formcontrol" placeholder="Add a meaningful title" %}
    <br />
        <label for="arg1">Party 1 Arguments:</label>
        {% render_field form.arg1 class="formcontrol" placeholder="Party 1: state your case" rows="3" %}
    <br />
        <label for="arg2">Party 2 Arguments:</label>
        {% render_field form.arg2 class="formcontrol" placeholder="Party 2: state your case" rows="3" %}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


{% endblock %}
