{% extends "app/layout.html" %}
{% load widget_tweaks %}

{% block content %}

<form action="{% url 'app:casecreated'%}" method="post">
    {% csrf_token %}
        <label for="casetext">Title:</label>
        <input type="text" id="casetext" placeholder="Add a meaningful title" />
        <label for="arg1">Party 1 Arguments:</label>
        <input type="text" id="arg1" placeholder="Party 1: state your case" />
        <label for="arg2">Party 2 Arguments:</label>
        <input type="text" id="arg2" placeholder="Party 2: state your case" />
    {% render_field form.arg1 %}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


{% endblock %}
